:root {
    --red: oklch(0.6 0.2 30);
    --orange: oklch(0.6 0.2 60);
    --yellow: oklch(0.6 0.2 90);
    --yellow-green: oklch(0.6 0.2 120);
    --green: oklch(0.6 0.2 150);
    --spring-green: oklch(0.6 0.2 180);
    --cyan: oklch(0.6 0.2 210);
    --blue: oklch(0.6 0.2 240);
    --navy: oklch(0.6 0.2 270);
    --violet: oklch(0.6 0.2 300);
    --purple: oklch(0.6 0.2 330);
    --magenta: oklch(0.6 0.2 360);

    --red-dark: oklch(0.5 0.2 30);
    --orange-dark: oklch(0.5 0.2 60);
    --yellow-dark: oklch(0.5 0.2 90);
    --yellow-green-dark: oklch(0.5 0.2 120);
    --green-dark: oklch(0.5 0.2 150);
    --spring-green-dark: oklch(0.5 0.2 180);
    --cyan-dark: oklch(0.5 0.2 210);
    --blue-dark: oklch(0.5 0.2 240);
    --navy-dark: oklch(0.5 0.2 270);
    --violet-dark: oklch(0.5 0.2 300);
    --purple-dark: oklch(0.5 0.2 330);
    --magenta-dark: oklch(0.5 0.2 360);

    --white: #ffffff;
    --gray1: #e8e8e8;
    --gray2: #575e75;
    --black: #161616;
}

.inout {background-color: var(--navy); border: var(--navy-dark) 1px solid;}
.math {background-color: var(--green); border: var(--green-dark) 1px solid;}
.var {background-color: var(--orange); border: var(--orange-dark) 1px solid;}
.draw {background-color: var(--cyan); border: var(--cyan-dark) 1px solid;}
.filter {background-color: var(--violet); border: var(--violet-dark) 1px solid;}
.danger {background-color: var(--red); border: var(--red-dark) 1px solid;}

button.inout:hover {background-color: var(--navy-dark);}
button.math:hover {background-color: var(--green-dark);}
button.var:hover {background-color: var(--orange-dark);}
button.draw:hover {background-color: var(--cyan-dark);}
button.filter:hover {background-color: var(--violet-dark);}
button.danger:hover {background-color: var(--red-dark);}

.hidden {
    display: none;
}

body {
    margin: 0;
    background-color: var(--white);
    display: grid;
    grid-template-rows: 48px calc(100% - 102px) 54px;
    height: 100vh;
}

header {
    background-color: var(--blue);
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
}

header h1 {
    display: inline;
    color: var(--white);
    margin: 0;
    margin-right: 10px;
}

header button {
    border: none;
    background-color: var(--blue);
    color: var(--white);
    font-size: 1em;
    padding: 10px;
    height: 100%;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

header button:hover {
    background-color: var(--blue-dark);
}

header #edit {
    background-color: var(--blue-dark);
    height: 30px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

#edit button {
    background-color: var(--blue-dark);
    color: var(--blue);
    border: none;
    padding: 0;
    width: 35px;
    height: 100%;
    font-size: 20px;
    border-radius: 15px;
    cursor: pointer;
}

#edit button:hover {
    color: var(--white);
}

#edit button.active {
    background-color: var(--white);
    color: var(--blue-dark);
}

main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 300px 30px;
}

main #block-ground {
    background-color: var(--white);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow-y: scroll;
}

#block-ground .hat {
    padding: 10px;
    color: var(--white);
    background-color: var(--yellow);
    border: var(--yellow-dark) 1px solid;
    border-radius: 15px 15px 5px 5px;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

#block-ground .block {
    color: var(--white);
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 40px;
}

.block div {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0 10px;
}

.block .block-btn {
    border: none;
    border-radius: 0 5px 5px 0 ;
    height: 40px;
    color: var(--white);
    font-size: 20px;
}

select {
    color: var(--white);
    min-width: 40px;
    height: 25px;
    border: var(--input-dark) 1px solid;
    border-radius: 5px;
}

.input {
    --input-bgcolor: var(--white);
    --input-dark: var(--gray1);
    --input-color: var(--black);
    min-width: 30px;
    height: 25px;
    border: var(--input-dark) 1px solid;
    background-color: var(--input-bgcolor);
    color: var(--input-color);
}

.input.num {
    border-radius: 3px;
}

.input.pos {
    clip-path: polygon(
        10px 0%,
        calc(100% - 10px) 0%,
        100% 50%,
        calc(100% - 10px) 100%,
        10px 100%,
        0% 50%
    );
    padding: 0 10px;
}

.input.color {
    border-radius: 20px;
}

main #block-list {
    background-color: var(--white);
    border-left: var(--gray1) 1px solid;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#block-list button {
    color: var(--white);
    padding: 10px;
    border-radius: 5px;
    cursor: grab;
    width: max-content;
}

#block-list button.button {
    color: var(--black);
    background-color: var(--white);
    border: var(--gray2) 1px solid;
    cursor: pointer;
    padding: 5px 20px;
}

#block-list button.button:hover {
    background-color: var(--gray1);
}

#block-list span {
    color: var(--black);
    font-size: 1em;
    font-weight: bold;
    margin: 10px 0;
}

main #block-type {
    background-color: var(--white);
    border-left: var(--gray1) 1px solid;
    display: flex;
    flex-direction: column;
}

#block-type button {
    border: none;
    height: 60px;
    width: 100%;
    color: var(--white);
    border-bottom: var(--gray1) 1px solid;
}

footer {
    background-color: var(--gray1);
    width: 100%;
    display: flex;
    overflow-x: scroll;
    align-items: center;
}

footer #shader-list {
    gap: 0;
    display: flex;
    height: 100%;
}

footer button {
    border: none;
    background-color: var(--gray1);
    color: var(--black);
    font-size: 1em;
    height: 100%;
    min-width: 40px;
}

footer button:hover {
    background-color: var(--white);
}

footer #active {
    background-color: var(--white);
}

#add-shader {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#add-shader:hover {
    background-color: var(--white);
}

#popover {
    position: fixed;
    width: 200px;
    max-height: 300px;
    border-radius: 5px;
    transform: translate(0, 25px);
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);
    padding: 5px;
}

#popover-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#popover #inputs {
    display: flex;
    border-radius: 5px;
    overflow: hidden;
}

#popover .inp {
    flex: 1;
    height: 15px;
    padding: 5px;
    font-weight: bold;
    min-width: 0;
    border: var(--gray1) 1px solid;
}

#popover .input:hover {
    background-color: var(--input-dark);
}

#modal {
    width: 100%;
    height: 100%;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
}

#modal:not(.hidden) {
    display: flex;
}

#modal-content {
    background-color: var(--white);
    width: 400px;
    border-radius: 5px;
    overflow: hidden;
}

#modal-header {
    display: flex;
    height: 40px;
    align-items: center;
    background-color: var(--blue);
    padding: 0 5px;
}

#modal-header h2 {
    flex: 1;
    text-align: center;
    font-size: large;
    color: var(--white);
}

#modal-header button {
    width: 30px;
    height: 30px;
    background-color: var(--blue-dark);
    border: none;
    color: var(--white);
    border-radius: 50%;
    font-size: medium;
    cursor: pointer;
}

#modal-header button:hover {
    font-weight: bold;
}

#modal-body {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 30px;
    align-items: center;
}

#modal-body input {
    border: var(--gray1) 1px solid;
    padding: 10px;
    border-radius: 5px;
    width: 250px;
}

#modal-body button {
    border: none;
    background-color: var(--blue);
    padding: 10px;
    color: var(--white);
    border-radius: 5px;
    cursor: pointer;
}

#modal-body button:hover {
    background-color: var(--blue-dark);
}

@media (max-width: 1000px) {
    .label {
        display: none;
    }
}